.flex {
    display: flex;
    column-gap: 1rem;
}

/* setting breakpoint for changing header card and input layouts */
@media screen and (max-width: 800px) {
    .flex-column {
        flex-direction: column;
    }

    .flex-column > div + div {
        margin-top: 1rem;
    }

    html {
        font-size: 14px;
    }
}

.align-center {
    align-items: center;
}

.text-red {
    color: #e15241;
}

.text-green {
    color: #4eaf0a;
}

.text-blue {
    color: #007bff;
}

.margin-block-1 {
    margin-block: 1.5rem;
}

.margin-left-1 {
    margin-left: 1rem;
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: rgb(248, 248, 248);
}

.width-7 {
    width: 7rem;
}

button {
    border: none;
    background-color: transparent;
}
